@font-face {
  font-family: 'pagu';
  src: url(../font/pugnomincho-mini.otf);
}

* {

}

body {
  font-family: 'pagu';
  background-color: #ffb0c4;
  text-align: center;
  height: 100%;
  width: 100%;
}

.all {
  position: relative;
}

.all .title {
  position: relative;
  top: 100px;
  font-size: 140px;
  text-align: center;
  color: white;
}

.all .img-1 {
  position: relative;
  text-align: center;
  top: 200px;
  aspect-ratio: 5/3;
}

.all .img-1 img {
  width: 60%;
}
